<h1>
    MODIFY SECURITY COMPANY</h1>
<hr class="hrow" />
<br>

<div class="inner">
    <div class="back">
        <button class="btn btn-default btn-sm" id="backBTN" routerLink="/security" data-toggle="tooltip" data-placement="top" title="Back">
          <img src="/assets/ios-arrow-round-back.svg" class="BackBTN" /></button>
    </div>
    <br>
    <form class="form-horizontal" [formGroup]="EditForm" id="modifyForm" (ngSubmit)="update()">

        <div class="form-group">
            <h2 class="Header">Security Information:</h2>
            <br>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="ID" id="Level" name="Level" required hidden>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="Name" id="Level" placeholder="Name..." name="Level" maxlength="50" required data-toggle="tooltip" data-placement="top" title="Name"> 
            </div>

            <div class="col-sm-10">
                <input type="email" class="form-control" formControlName="Email" id="Level" placeholder="Email..." name="Level" maxlength="50" required data-toggle="tooltip" data-placement="top" title="Email">
            </div>

            <div class="col-sm-10">
                <input type="tel" class="form-control" id="Level" formControlName="Cell" placeholder="Cell..." name="Level" maxlength="10" required data-toggle="tooltip" data-placement="top" title="Cell">
            </div>

            <div class="col-sm-10">
                <select formControlName="Reserve" [(value)]="ReserveSelection" class="form-control" id="Select1" onchange="selectColor()" required data-toggle="tooltip" data-placement="top" title="Reserve"> 
                    <option selected disabled [value]="" style="color:white" >Reserve...</option>
                    <option *ngFor="let opt of ReserveOptions" [(value)]="opt.ID">{{opt.Name}}</option>
                  </select>
            </div>
        </div>
        <!--Moenie die save button verander nie-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" id="savediv">
                <button type="submit" class="btn btn-default" id="Save" data-toggle="tooltip" data-placement="top" title="Click to save">Save</button>
            </div>
            <br>
            <br>
        </div>
    </form>
</div>
<br>
<br>
<br>

<div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: left !important;"><img src="/assets/ios-alert.svg" style="width:40px; margin-top:0px;" />Error</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right !important;">&times;</button>
            </div>
            <div class="modal-body">
                <p>The input provided is incorrect. Please try again.</p>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right !important;" id="modalClose">Close</button>
            </div>
        </div>
    </div>
</div>