
<h1>PROFILE: JOHN DOE</h1>
<hr class="hrow"/>
<br>
<div class="container">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Cellphone: 0893847292</p>
            <p class="card-text">Email: whatever@gmail.com</p>
            <a href="#" class="btn btn-primary stretched-link" data-toggle="tooltip" data-placement="top" title="Click to edit">Edit Profile</a>
        </div>
    </div>
</div>