<h1>Order</h1>

<hr class="hrow" />

<div class="outer">

    <div class="button">
        <button type="button" class="btn btn-default btn-sm" id="addBTN" data-toggle="collapse" data-target="#demo"> <span data-toggle="tooltip" data-placement="top" title="Click to add new"> ADD NEW
      <img src="/assets/ios-add.svg" class="plus" style="background-color: rgb(134,158,195) " /></span></button>
    </div>

    <div class="search">
        <form action="/action_page.php" id="searchform">
            <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search..." name="search" id="SearchBTN" data-toggle="tooltip" data-placement="top" title="Type to search"><button class="btn btn-default" type="submit" id="Search"><img src="/assets/ios-search.svg" class="SearchbtnIMG" /></button>
            </div>
        </form>
    </div>
</div>
<br>
<br>



<div class="inner collapse" id="demo">
    <div class="close">
        <button class="btn btn-default btn-sm" id="closeBTN" data-toggle="collapse" data-target="#demo"><span data-toggle="tooltip" data-placement="top" title="Close">
      <img src="/assets/ios-close.svg" class="closePic" /></span></button>
    </div>

    <div class="inputForm">
        <br>
        <form class="form-horizontal" id="modifyForm" [formGroup]="AddForm" (ngSubmit)="addOrder()">

            <div class="form-group">
                <h2 class="Header">Add Order</h2>
                <br>
                <div class="col-sm-10">
                <input type="date" class="form-control" id="Level" placeholder="Date..." name="Level" formControlName="Date" required>
                </div>

                <div class="col-sm-10">
                <select formControlName="Asset" [(value)]="EventRewardAddSelection" class="form-control" id="Select1" onchange="selectColor()" required>
                        <option selected disabled hidden [value]="">Asset...</option>
                        <option *ngFor="let opt of AssetOptions" [(value)]="opt.ID">{{opt.Description}}</option>
                    </select>
                </div>
                <div class="col-sm-10">
                <select formControlName="Type" [(value)]="EventRewardAddSelection" class="form-control" id="Select1" onchange="selectColor()" required>
                        <option selected disabled hidden [value]="">Type...</option>
                        <option *ngFor="let opt of TypeOptions" [(value)]="opt.ID">{{opt.Description}}</option>
                    </select>
                </div>
                <div class="col-sm-10">
                <select formControlName="Status"  class="form-control" id="Select1" onchange="selectColor()" required>
                    <option selected hidden [value]="">Status...</option>
                    <option >True</option>
                    <option >False</option>
                </select>
                </div>
                <div class="col-sm-10">
                <select formControlName="Supplier" [(value)]="EventRewardAddSelection" class="form-control" id="Select1" onchange="selectColor()" required>
                        <option selected disabled hidden [value]="">Supplier...</option>
                        <option *ngFor="let opt of SupplierOptions" [(value)]="opt.ID">{{opt.Name}}</option>
                    </select>
                </div>
            </div>

            <!--Moenie die save button verander nie-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" id="savediv">
                    <button type="submit" class="btn btn-default" id="Save" (click)="showToast()" data-toggle="collapse" data-target="#demo"  data-toggle="tooltip" data-placement="top" title="Click to save">Save</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
</div>
<!--TABLE-->
<br>

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr id="header">

                <th>Date</th>
                <th>Asset</th>
                <th>Type</th>
                <th>Status</th>
                <th>Supplier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Order of Orders |filter:searchText">

                <td innerHTML="{{Order.Date | highlight :searchText}}"></td>
                <td innerHTML="{{Order.Asset| highlight :searchText}}"></td>
                <td innerHTML="{{Order.Type | highlight :searchText}}"></td>
                <td innerHTML="{{Order.Status| highlight :searchText}}"></td>
                <td innerHTML="{{Order.Supplier | highlight :searchText}}"></td>
                <!--Moenie die code verander nie. Sit net nuwe kollomme bo dit in-->
                <td> <button class="btn btn-default btn-sm" id="editbtn" (click)="edit(Order.ID)" data-toggle="tooltip" data-placement="top" title="Modfy"><img src="/assets/ios-create.svg"
              class="edit" /></button><button class="btn btn-default btn-sm" (click)="delete(Order.ID)" id="editbtn" data-toggle="tooltip" data-placement="top" title="Remove"><img
              src="/assets/ios-trash.svg " class="edit " /></button>
            </tr>

        </tbody>
    </table>


</div>
<!-- Modal- Moenie verander nie. uncomment net die modal vir input error as die duplicate entry message gebruik moet word. Gaan later dit koppel aan waar dit moet wees. -->
<a hidden data-toggle="modal" data-target="#Delmodal" id="del"></a>
<!-- Modal- Moenie verander nie. uncomment net die modal vir input error as die duplicate entry message gebruik moet word. Gaan later dit koppel aan waar dit moet wees. -->
<div class="modal fade" id="Delmodal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: left !important;"><img src="/assets/ios-alert.svg" style="width:40px; margin-top:0px;" />Warning</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right !important; ">&times;</button>
            </div>
            <div class="modal-body">
                <p>This record will be permanently deleted. Are you sure you want to continue?</p>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right !important;" id="modalClose" (click)="del()">Delete</button>
            </div>
        </div>
    </div>
</div>



<!--comment en uncomment net om screenshots van die verskillende error messages te kry-->
<div class="modal fade" id="myModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: left !important;"><img src="/assets/ios-alert.svg" style="width:40px; margin-top:0px;" />Error</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right !important;">&times;</button>
            </div>
            <div class="modal-body">
                <p>This record already exists. Please try again</p>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right !important;" id="modalClose">Close</button>
            </div>
        </div>
    </div>
</div>