<!--Verander opskrif vir elke page-->
<h1>REGISTER USER</h1>
<hr class="hrow" />
<div>
    <div #ref>
        <form #regform id="regForm" [formGroup]="AddForm">
            <h1>Register:</h1>
            <!-- One "tab" for each step in the form: -->
            <div class="tab col-sm-10">Step 1 -Ranger Name & Surname
                <p><input class="form-control" formControlName="fname" placeholder="First Name..." name="fname" maxlength="50"></p>
                <p><input class="form-control" formControlName="lname" placeholder="Last Name..." name="lname" maxlength="50"></p>
                <div class="form-group">
                    <div class="col-sm-40">
                        <select formControlName="UserRole" class="form-control" id="Select1" onchange="selectColor()" required>
                                <option selected disabled hidden value="User role...">User role...</option>
                                    <option *ngFor="let opt of UserRoleOptions" [(value)]="opt.ID">{{opt.Description}}</option>
                                  </select>
                    </div>
                </div>

            </div>
            <div class="tab col-sm-10">Step 2 - Personal information:
                <p><input class="form-control" formControlName="rangerId" placeholder="Identification Number..." name="rangerId" maxlength="13"></p>
                <p><input class="form-control" type="email" formControlName="email" placeholder="E-mail..." name="email" maxlength="50"></p>
                <p><input class="form-control" type="tel" formControlName="phone" placeholder="Cellphone..." name="phone" maxlength="10"></p>
                <div class="form-group">
                    <div class="col-sm-40">
                        <select placeholder="Select Gender..." formControlName="selectgender" class="form-control" id="Select1" onchange="selectColor()" style="margin-bottom:2% !important;" name="selectgender" required>
                                    <option selected disabled hidden value="Gender...">Gender...</option>
                                    <option *ngFor="let gen of GenderOptions" [(value)]="gen.ID">{{gen.Descriprion}}</option>
                                </select>
                    </div>
                </div>
                <select placeholder="Select Organisation..." formControlName="Organizationtitle" class="form-control" id="Select1" onchange="selectColor()" style="margin-bottom:2% !important;" name="selectgender" required>
                        <option selected disabled hidden value="Organisation...">Organisation...</option>
                    <option *ngFor="let org of OrganisationOptions" [(value)]="org.ID">{{org.Descriprion}}</option>
                    </select>
                <div class="form-group">
                    <div class="col-sm-40">
                        <select class="form-control" formControlName="Status" id="Select2" onchange="selectColor1()" required>
                    <option selected disabled hidden value="Status...">Status...</option>
                    <option>Active</option>
                    <option>Inactive</option>
                  </select>
                    </div>
                </div>
            </div>
            <div class="tab col-sm-10">Step 3 - Medical information:
                <p><input class="form-control" formControlName="emergencycontactName" placeholder="Emergency contact's Name" name="emergencycontactName" maxlength="50"></p>
                <p><input class="form-control" type="tel" formControlName="EmergencycontactNumber" placeholder="Emergency contact Number" name="EmergencycontactNumber" maxlength="10"></p>
                <select placeholder="Select Medical Aid..." formControlName="MedicalAid" class="form-control" id="Select1" onchange="selectColor()" style="margin-bottom:2% !important;" name="selectgender" required>
                        <option selected disabled hidden value="Medical Aid...">Medical Aid...</option>
                    <option *ngFor="let org of MedicalOptions" [(value)]="org.ID">{{org.Descriprion}}</option>
                    </select>
                <div class="form-group">
                    <div class="col-sm-40">
                        <select class="form-control" formControlName="selectbloodtype" id="Select1" onchange="selectColor()" required>
                                <option selected disabled hidden value="Blood Type...">Blood Type...</option>
                    <option>A+</option>
                    <option>B+</option>
                    <option>AB+</option>
                    <option>O+</option>
                    <option>A-</option>
                    <option>B-</option>
                    <option>AB-</option>
                    <option>O-</option>
                  </select>
                    </div>
                </div>
            </div>
            <div class="tab col-sm-10">Step 4 - Login Info:
                <p><input class="form-control" formControlName="username" placeholder="Ranger Username..." name="username" maxlength="20"></p>
                <p><input type="password" class="form-control" formControlName="password" placeholder="Password..." name="password" maxlength="20"></p>
                <p><input type="password" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password..." name="confirmpassword" maxlength="20"></p>
            </div>
            <div style="overflow:auto;" class="col-sm-10">
                <div style="float:left;">
                    <button class="btn btn-default btn-sm" type="button" id="prevBtn" (click)="nextPrev(-1)" data-toggle="tooltip" data-placement="top" title="Back">Previous</button>
                </div>
                <div style="float:right;">
                    <button class="btn btn-default btn-sm" type="button" id="nextBtn" (click)="nextPrev(1)" data-toggle="tooltip" data-placement="top" title="Proceed" >Next</button>
                </div>
            </div>
            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step" data-toggle="modal" data-target="#Delmodal"></span>
            </div>
        </form>
    </div>
</div>
<!-- Modal- Moenie verander nie. uncomment net die modal vir input error as die duplicate entry message gebruik moet word. Gaan later dit koppel aan waar dit moet wees. -->
<div class="modal fade" id="Delmodal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: left !important;"><img src="/assets/ios-checkmark-circle.svg" style="width:40px; margin-top:0px;" />Success</h4>
                <button type="button" class="close" data-dismiss="modal" style="float:right !important;">&times;</button>
            </div>
            <div class="modal-body">
                <p>The user has been added successfull</p>
                <button type="button" routerLink="/rangers" class="btn btn-default" data-dismiss="modal" style="float: right !important;" id="modalClose">Go to Rangers</button>
            </div>
        </div>
    </div>
</div>